.menu {
  width: 100%;
  background: var(--azul-principal);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}
.logoMenu {
  width: 16vw;
  height: auto;
}

.menuItem {
  color: var(--branco);
  text-decoration: none;
  font-weight: 600;
  font-size: max(0.8rem, 1.5vw);
}

.menuItem:hover {
  color: var(--azul-sec);
}

.rodape {
  background: var(--azul-principal);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--branco);
}

.redesociais {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.item {
  font-size: 1.8rem;
  color: var(--branco);
}

.item:hover {
  color: var(--azul-sec);
}

.rodape h3 {
  text-align: center;
}
