.apresentacao {
  width: 100%;
  background-color: var(--azul-sec);
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacaoTexto {
  width: 55%;
}

.apresentacaoTexto h3 {
  color: var(--branco);
  font-weight: 800;
  font-size: 5.8vw;
  margin-bottom: 10px;
}

.apresentacaoTexto p {
  color: var(--branco);
  font-weight: 400;
  font-size: 1.5vw;
  margin-bottom: 40px;
}

.imagemApresentacao {
  width: 40%;
}

.img {
  width: 100%;
  height: 70vh;
}

.linkApresentacao {
  color: var(--branco);
  text-decoration: none;
  border: 2px solid var(--branco);
  padding: 15px 40px;
  border-radius: 30px;
  background-color: var(--azul-principal);
  font-size: 1.4vw;
}

.linkApresentacao:hover {
  color: var(--azul-principal);
  border: 2px solid var(--azul-principal);
  background-color: var(--branco);
}

.contato {
  width: 100%;
  display: flex;
  background-color: var(--azul-sec);
  padding: 0.5rem 4rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.formEmail {
  width: 35%;
  background: var(--branco);
  border-radius: 30px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  margin-bottom: 40px;
}

.formEmail input {
  background-color: #d9d9d9;
  border: none;
  color: #a0a0a0;
  font-size: 1.6vw;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 30px;
}

.formEmail input:focus {
  outline: 2px solid var(--azul-principal);
}

.btnEnviar {
  align-self: end;
  color: var(--branco);
  background-color: var(--azul-principal);
  border: 2px solid var(--branco);
  border-radius: 20px;
  border: none;
  font-size: 1.4vw;
  padding: 8px 25px;
  margin-top: 15px;
  border: 2px solid var(--azul-principal);
}

.btnEnviar:hover {
  color: var(--azul-principal);
  background-color: var(--branco);
  border: 2px solid var(--azul-principal);
  cursor: pointer;
}

.contato h3 {
  font-size: 2vw;
  color: var(--branco);
  font-weight: 800;
  width: 20vw;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .apresentacao {
    display: flex;
    flex-direction: column;
  }

  .apresentacaoTexto {
    width: 75%;
    text-align: center;
  }

  .imagemApresentacao {
    width: 60%;
  }

  .imagemApresentacao img {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .apresentacao {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .apresentacaoTexto {
    width: 85%;
  }

  .imagemApresentacao {
    width: 80%;
  }

  .imagemApresentacao img {
    height: 400px;
  }

  .contato {
    display: flex;
    flex-direction: column-reverse;
  }

  .formEmail {
    width: 70%;
    border-radius: 30px;
    padding: 20px 30px;
    gap: 15px;
    margin-top: 20px;
  }

  .formEmail input {
    background: #d9d9d9;
    border: none;
    color: #a0a0a0;
    font-size: 0.5rem;
    font-weight: 900;
    padding: 10px 10px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 470px) {
  .contato h3 {
    font-size: 2.2vw;
    color: var(--branco);
    font-weight: 800;
    width: 30vw;
    text-align: center;
  }

  .apresentacao-texto p {
    color: var(--branco);
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 30px;
  }
}
