@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url(../styles/Home.module.css);
@import url(../styles/Components.module.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --azul-principal: #077cdb;
  --azul-sec: #05c7f2;
  --branco: #fff;
}
